{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Home</title>
{% endblock head%}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
      <h1>Welcome to MoonLine</h1>
      <h2></h2>
      <div class="d-flex">
        <a class="btn-get-started" href="#about-boxes" > تسوق الان</a>
        <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
      </div>
    </div>
  </section><!-- End Hero -->

  {% comment %} <h1>Ready to provide designs that suit you</h1> {% endcomment %}

    <!-- ======= About Boxes Section ======= -->
    <section id="about-boxes" class="about-boxes">

      <div class="container" data-aos="fade-up">

        <div class="row">
            {%for i in produ %}
                <div class="col-lg-3 col-md-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
               <div class="card">

                  {% if i.product_image%}<a href="{% url 'pages:details' i.id %}">     <img src="{{i.product_image.url}}"   class="card-img-top" alt="..."></a>
                  {%else%}
                  <a href="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                  {%endif %}
                  <div class="card-icon">
                    <i class="ri-brush-4-line"></i>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'pages:details' i.id %}">{{i.product_name}}</a></h5>
                    <p class="card-text" dir="rtl">السعر:{{i.PRDPrice}}دينار كويتي </p>
                    <p class="card-text" dir="rtl">{{i.product_description}} </p>
                    <p class="card-text" dir="rtl">الخصم:{{i.PRDDiscountPrice}} %</p>
                    <a href="{% url 'pages:details' i.id %}" >عرض</a>
                  </div>

                </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </section>
  {% endblock content%}