{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Home</title>
{% endblock head%}

{% block content %}

  <!-- ======= Hero Section ======= -->
  {% if landing_image and landing_image.url %}
  <style>
    #hero {
      background: url({{landing_image.url}}) top center;
      background-size: cover;
    }
  </style>
  {% else %}
  <style>
    #hero {
      background: url("{% static 'assets/img/hero-bg.jpg' %}") top center;
      background-size: cover;
    }
  </style>
  {% endif %}
  <section id="hero">
    <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
      <h1>Welcome to MoonLine</h1>
      <h2></h2>
      <div class="d-flex">
        <a class="btn-get-started" href="#about-boxes" > تسوق الان</a>
        <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
      </div>
    </div>
  </section><!-- End Hero -->

  {% comment %} <h1>Ready to provide designs that suit you</h1> {% endcomment %}

    <!-- ======= About Boxes Section ======= -->
    <section id="about-boxes" class="about-boxes">

      <div class="container" dir="rtl" data-aos="fade-up">
        <h1 class="section-title">مُضافة حديثاً</h1>
        <div class="row">
            {%for product in products %}
              <div class="col-lg-3 col-md-6 col-12 mb-5" data-aos="fade-up" data-aos-delay="50">
                {% include "partials/productcard.html" with product=product %}
              </div>
            {% endfor %}
        </div>
      </div>
    </section>
    <a href="https://api.whatsapp.com/message/Q3OD4LY537Z4F1" class="whatsApp" target="_blank">
      <i class="fa fa-whatsapp my-whatsApp"></i>
    </a>

  {% endblock content%}