{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Home</title>
{% endblock head%}

{% block content %}

    <main>
      <div class="container py-5" dir="rtl" data-aos="fade-up">
        <h2 class="section-title">{{category.name}}</h2>
        <div class="row">
            {%for product in category.products.all %}
              <div class="col-lg-3 col-md-6 col-12 mb-5" data-aos="fade-up" data-aos-delay="50">
                {% include "partials/productcard.html" with product=product %}
              </div>
            {% endfor %}
        </div>
      </div>
    </main>
    <a href="https://api.whatsapp.com/message/Q3OD4LY537Z4F1" class="whatsApp" target="_blank">
      <i class="fa fa-whatsapp my-whatsApp"></i>
    </a>

  {% endblock content%}