{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Contact Us</title>
{% endblock head%}

{% block content %}
    <section class="categories-area section-padding40">
        <div class="container">
            <!-- section Tittle -->
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-7 col-sm-9">
                    <div class="section-tittle text-center mb-60">
                        <h2>سعيدون بتقديم تصاميم تليق بكم</h2>
                        <p><br></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-12 col-sm-12">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services1.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5 dir="rtl">من نحن:</h5>
                            {%for i in aboutt %}
                            <p dir="rtl">{{i.info}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class=" section-title">
                <p> Contact Us</p>
            </div>

            <div class="row" class="container d-flex align-items-center justify-content-between">

                <div class="col-lg-8">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i class="bx bx-map"></i>
                                <h3>WhatsApp</h3>
                                <p>+965 9793 0622</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4">

                                <i class="bx bxl-instagram"></i>
                                <h3>Instagram</h3>
                                <a href=" https://instagram.com/moon__line__?igshid=OGQ5ZDc2ODk2ZA==">moon__line__</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4">
                                <i class="bx bxl-snapchat"></i>
                                <h3>Snap:</h3>
                                <a href=" https://t.snapchat.com/pOf04Pjz">mooon_line</a>

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4">
                                <i class="bx bxl-tiktok"></i>
                                <h3>Tik tok:</h3>
                                <a href=" https://www.tiktok.com/@moon__line__?_t=8h3gbHAmLA1&_r=1">moon__line</a>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock content%}
