{% extends 'base.html' %}
{% load static %}

{% block head %}
  <title>Product Details</title>
{% endblock head%}

{% block content %}
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2> MoonLine</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li> Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{one_pro.additional_image_1.url}}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{one_pro.additional_image_2.url}}" alt="">
                </div>


              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4" dir="rtl">
            <div class="portfolio-info">
              <h3>المعلومات</h3>
              <ul>
                <li dir="rtl"><strong>الاسم:    </strong>: {{one_pro.product_name}}"</li>
                <li dir="rtl"><strong>الوصف</strong>: {{one_pro.product_description}}"</li>
                <li dir="rtl"><strong>السعر</strong>: {{one_pro.PRDPrice}}"  دينار كويتي</li>
                <li><strong></strong><a href="{% url 'pages:form_order' one_pro.id %}">اطلب</a></li>
              </ul>
            </div>
            <div class="portfolio-description">


            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
{% endblock content%}
