{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Place Your Order</title>
{% endblock head%}

{% block content %}
    <main class="col-md-7 container" dir="rtl">
        <br><br>
        <header>يرجى ادخال المعلومات كامل</header>

        <form action="#"  method="post">
                {% csrf_token %}
            <div class="form first">
                <div class="details personal">
                    <div class="fields">
                        <div class="input-field">
                            <label>الاسم الكامل</label>
                            <input type="text" name="Full Name" placeholder="Enter your name" required>
                        </div>

                        <div class="input-field">
                            <label>رقم الهاتف</label>
                            <input type="text" name="Phone" placeholder="Enter your Phone" onclick="showHintText()" required>
                            <small id="hint-text" class="hint-text">سيتم إرسال رسالة تأكيد إلى الرقم المدخل</small>
                        </div>
                        <script>function showHintText() {
                            var hintText = document.getElementById("hint-text");
                            hintText.style.display = "inline";
                          }
                          </script>
                        <div class="input-field">
                            <label> طول العباية</label>
                            <input type="number" name="Length" placeholder="Enter your lenght" required>
                        </div>

                        <div class="input-field">
                            <label> اكتاف العباية</label>
                            <input type="number" name="shoulders" placeholder="Enter your shoulders_size" required>
                        </div>

                        <div class="input-field">
                            <label>كم العباية</label>
                            <input type="number" name="sleeve" placeholder="Enter  Abaya sleeve" required>
                        </div>

                        <div class="input-field">
                            <label> صدر العباية</label>
                            <input type="number" name="width" placeholder="Enter Abaya Chest" required>
                        </div>

                        <div class="input-field">
                            <label>المنطقة</label>
                            <input type="text" name="area" placeholder="Enter" required>
                        </div>

                        <div class="input-field">
                            <label> مكان التسليم: </label>

                            <select type="text" name="type_address" required>
                                <option  value="Home">منزل</option>
                                <option value="Apartment">بناية</option>
                                <option value="office">مكتب</option> </select>
                        </div>

                        <div class="input-field">
                            <label>المنزل</label>
                            <input type="text" name="house" placeholder="Enter" required>
                        </div>

                        <div class="input-field">
                            <label> الطابق </label>
                            <input type="text" name="block" placeholder="Enter" required>
                        </div>

                        <div class="input-field">
                            <label>الشارع </label>
                            <input type="text" name="street" placeholder="Enter" required>
                        </div>

                        <div class="input-field">
                            <label>ملاحظات</label>
                            <input type="text" name="notes" placeholder="Enter your note" required>
                        </div>

                    </div>
                </div>
                <button class="nextBtn">
                    <span class="btnText">التالي</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </form>
    </main>
{% endblock content%}








































