{% extends 'base.html' %} {% load static %} {% block head %}
<title>Place Your Order</title>
{% endblock head %} {% block content %}

<main>
  <div class="container mx-auto" dir="rtl">
    <form action="#" method="post">
      {% csrf_token %}
      <div class="form first my-4 pb-5 px-3 carousel slide" id="carouselExample">
        <div class="carousel-inner">
            <div class="carousel-item">
                <div class="shipment details">
                <h1 class="section-title">معلومات الشحن</h1>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <label class="form-label fs-5 fw-bold">المنطقة</label>
                    <input
                        required
                        class="form-control"
                        list="datalistOptions"
                        name="area"
                        placeholder="ابحث عن المنطقة"
                    />
                    <datalist dir="rtl" id="datalistOptions">
                        {% for city in cities %}
                        <option dir="rtl" value="{{city}}">{% endfor %}</option>
                    </datalist>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <label class="form-label fs-5 fw-bold"> مكان التسليم: </label>

                    <select
                        class="form-control"
                        type="text"
                        name="type_address"
                        required
                    >
                        <option value="Home">منزل</option>
                        <option value="Apartment">بناية</option>
                        <option value="office">مكتب</option>
                    </select>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <label class="form-label fs-5 fw-bold">المنزل</label>
                    <input
                        class="form-control"
                        type="text"
                        name="house"
                        placeholder="Enter"
                        required
                    />
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <label class="form-label fs-5 fw-bold"> الطابق </label>
                    <input
                        class="form-control"
                        type="text"
                        name="block"
                        placeholder="Enter"
                        required
                    />
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <label class="form-label fs-5 fw-bold">الشارع </label>
                    <input
                        class="form-control"
                        type="text"
                        name="street"
                        placeholder="Enter"
                        required
                    />
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <label class="form-label fs-5 fw-bold">قطعة </label>
                    <input
                        class="form-control"
                        type="text"
                        name="piece"
                        placeholder="Enter"
                        required
                    />
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <label class="form-label fs-5 fw-bold">جادة </label>
                    <input
                        class="form-control"
                        type="text"
                        name="district"
                        placeholder="Enter"
                        required
                    />
                    </div>

                </div>
                </div>
                <button
                class="btn btn-warning px-5 float-start ms-1 text-light fw-bold py-2"
                style="background-color: #ff4917dc" type="submit"
                >
                <span class="btnText">تأكيد الطلب</span>
                <i class="uil uil-navigator"></i>
                </button>
                <button
                    class="btn btn-outline px-5 float-start ms-1 text-light fw-bold py-2"
                    style="border-color: #ff4917dc; color: #ff4917dc !important" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    الرجوع إلى معلومات الطلب
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
            <div class="carousel-item active">
                <div class="personal details">
                <h1 class="section-title">معلومات الطلب</h1>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <label class="form-label fs-5 fw-bold">الاسم الكامل</label>
                    <input
                        class="form-control"
                        type="text"
                        name="Full Name"
                        placeholder="Enter your name"
                        required
                    />
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <label class="form-label fs-5 fw-bold">رقم الهاتف</label>
                    <input
                        class="form-control"
                        type="text"
                        name="Phone"
                        placeholder="Enter your Phone"
                        onclick="showHintText()"
                        required
                    />
                    <small id="hint-text" class="hint-text text-danger"
                        >سيتم إرسال رسالة لتأكيد الدفع عن طريق واتساب</small
                    >
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <label class="form-label fs-5 fw-bold"> طول العباية</label>
                    <input
                        class="form-control"
                        type="number"
                        name="Length"
                        placeholder="Enter your lenght"
                        required
                    />
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <label class="form-label fs-5 fw-bold"> اكتاف العباية</label>
                    <input
                        class="form-control"
                        type="number"
                        name="shoulders"
                        placeholder="Enter your shoulders_size"
                        required
                    />
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <label class="form-label fs-5 fw-bold">كم العباية</label>
                    <input
                        class="form-control"
                        type="number"
                        name="sleeve"
                        placeholder="Enter  Abaya sleeve"
                        required
                    />
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <label class="form-label fs-5 fw-bold"> صدر العباية</label>
                    <input
                        class="form-control"
                        type="number"
                        name="width"
                        placeholder="Enter Abaya Chest"
                        required
                    />
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <label class="form-label fs-5 fw-bold">ملاحظات</label>
                    <input
                        class="form-control"
                        type="text"
                        name="notes"
                        placeholder="Enter your note"
                        required
                    />
                    </div>
                </div>
                </div>
                <button
                    class="btn btn-outline px-5 float-start ms-1 text-light fw-bold py-2"
                    style="border-color: #ff4917dc; color: #ff4917dc !important" type="button" data-bs-slide="prev" data-bs-target="#carouselExample"
                >
                    إلى معلومات الشحن
                </button>
            </div>
        </div>


      </div>
    </form>
  </div>
</main>
<script>
  function showHintText() {
    var hintText = document.getElementById("hint-text");
    hintText.style.display = "inline";
  }
</script>
{% endblock content %}
