{% extends 'base.html' %}
{% load static %}



{% block head %}

  <title>Shop By Category</title>
  <meta content="See All categories of women wear sold by moonline ecommerce in Kuwait" name="description">

{% endblock head %}

{% block content %}
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
       
          <div class="section-title">
            <br><br>
            <h2></h2>
            <p dir="rtl">سعيدون بتقديم تصاميم جديدة وعصرية تليق بكم</p>
          </div></div>

       {% comment %} <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">New</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div> {% endcomment %}
          <section id="about-boxes" class="about-boxes">
     
            <div class="container" data-aos="fade-up">
              
              <div class="row"> {%for i in one_pro %} 
                <div class="col-lg-3 col-md-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                 <div class="card">
                    
                    {% if i.product_image%}
                    <a href="{% url 'pages:details' i.id %}">   
                        <img src="{{i.product_image.url}}"   class="card-img-top" alt="..."></a>
                    {%else%}
                    <a href="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                    {%endif %}
                    <div class="card-icon">
                      <i class="ri-brush-4-line"></i>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title" dir="rtl"><a href="{% url 'pages:details' i.id %}">{{i.product_name}}</a></h5>
                      <p class="card-text" dir="rtl">السعر:{{i.PRDPrice}}Kd </p>
                      <p class="card-text" dir="rtl">{{i.product_description}} </p>
                      <p class="card-text" dir="rtl">الخصم:{{i.PRDDiscountPrice}}% </p>
                      <a href="{% url 'pages:details' i.id %}">عرض</a><br>
                      
                    </div>
      
                  </div>
                </div>
            
             
                {% endfor %}
           </div>
          </section>  {% comment %}
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                {%for i in one_pro %}
                <h1>{{i.product_name}}</h1>
        
                <a href="{% url 'pages:details' i.id %}">View</a>
      
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>New</h4>
                <p></p>
                <a href="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                {% endfor %}   </div>
            </div> {% endcomment %}


  
            {% comment %} <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <img src="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <a href="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <img src="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <a href="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="{% static 'assets/portfolio-details.html' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
          </div> {% endcomment %}
  
        </div>
      </section>
{% endblock content %}
    
