----------------------
:root{
    --color-1: #2f3240;
}
body{
	background-color: #e8eef3;
}
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
} 
ul{
	list-style: none;
}
a{
	text-decoration: none;
}.container1{
	max-width: 1170px;
	margin:auto;
}
.row1{
	display: flex;
	flex-wrap: wrap;
}
.align-items-center1{
	align-items: center;
}
.justify-content-between1{
	justify-content: space-between;
}
/*header*/

nav.navbar {
	background-color:#ff4917dc !important;
}

.section-title {
	margin-bottom: 40px;
	font-weight: 600;
}

.section-title::after {
	width: 160px;
	content: "";
	height: 5px;
	display: block;
	background: #ff8664;
}

span.offer-badge {
    background-color: #ff4917dc;
    transform: rotateZ(45deg);
    padding-inline: 40px;
    right: -40px;
    top: 20px;
}